
bin\*
obj\*
.vs/*
*.pdb
*.dll
*.pdb
obj/Debug/VampireModMenu.pdb
obj/Debug/VampireModMenu.dll
obj/Debug/VampireModMenu.csproj.FileListAbsolute.txt
obj/Debug/VampireModMenu.csproj.CoreCompileInputs.cache
obj/Debug/VampireModMenu.csproj.CopyComplete
obj/Debug/VampireModMenu.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
bin/Debug/WebSocketDotNet.dll
bin/Debug/VampireModMenu.pdb
bin/Debug/VampireModMenu.dll
bin/Debug/UnityEngine.XRModule.dll
bin/Debug/UnityEngine.VideoModule.dll
bin/Debug/UnityEngine.UnityWebRequestModule.dll
bin/Debug/UnityEngine.UIModule.dll
bin/Debug/UnityEngine.UIElementsNativeModule.dll
bin/Debug/UnityEngine.UIElementsModule.dll
bin/Debug/UnityEngine.UI.dll
bin/Debug/UnityEngine.TilemapModule.dll
bin/Debug/UnityEngine.TextRenderingModule.dll
bin/Debug/UnityEngine.TextCoreTextEngineModule.dll
bin/Debug/UnityEngine.TextCoreFontEngineModule.dll
bin/Debug/UnityEngine.SubsystemsModule.dll
bin/Debug/UnityEngine.SpriteMaskModule.dll
bin/Debug/UnityEngine.SharedInternalsModule.dll
bin/Debug/UnityEngine.Purchasing.WinRTCore.dll
bin/Debug/UnityEngine.Purchasing.Stores.dll
bin/Debug/UnityEngine.Purchasing.SecurityStub.dll
bin/Debug/UnityEngine.Purchasing.SecurityCore.dll
bin/Debug/UnityEngine.Purchasing.dll
bin/Debug/UnityEngine.Purchasing.AppleCore.dll
bin/Debug/UnityEngine.PhysicsModule.dll
bin/Debug/UnityEngine.Physics2DModule.dll
bin/Debug/UnityEngine.ParticleSystemModule.dll
bin/Debug/UnityEngine.JSONSerializeModule.dll
bin/Debug/UnityEngine.InputLegacyModule.dll
bin/Debug/UnityEngine.IMGUIModule.dll
bin/Debug/UnityEngine.GridModule.dll
bin/Debug/UnityEngine.CoreModule.dll
bin/Debug/UnityEngine.AudioModule.dll
bin/Debug/UnityEngine.AssetBundleModule.dll
bin/Debug/UnityEngine.AnimationModule.dll
bin/Debug/UnityEngine.AndroidJNIModule.dll
bin/Debug/Unity.TextMeshPro.dll
bin/Debug/Unity.Services.Core.Internal.dll
bin/Debug/Unity.Services.Core.dll
bin/Debug/Unity.Services.Analytics.dll
bin/Debug/Unity.RenderPipelines.Universal.Runtime.dll
bin/Debug/Unity.RenderPipelines.Core.Runtime.dll
bin/Debug/Unity.RenderPipeline.Universal.ShaderLibrary.dll
bin/Debug/Unity.Mediation.dll
bin/Debug/Unity.Mathematics.dll
bin/Debug/Unity Timer.dll
bin/Debug/Tomlet.dll
bin/Debug/System.Text.Json.dll
bin/Debug/System.Text.Encodings.Web.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Collections.Immutable.dll
bin/Debug/System.Buffers.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/Newtonsoft.Json.dll
bin/Debug/MonoMod.Utils.dll
bin/Debug/MonoMod.RuntimeDetour.dll
bin/Debug/Mono.Cecil.Rocks.dll
bin/Debug/Mono.Cecil.Pdb.dll
bin/Debug/Mono.Cecil.Mdb.dll
bin/Debug/Mono.Cecil.dll
bin/Debug/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/Microsoft.Diagnostics.Runtime.dll
bin/Debug/Microsoft.Diagnostics.NETCore.Client.dll
bin/Debug/MelonLoader.xml
bin/Debug/MelonLoader.dll
bin/Debug/Il2CppZenject.dll
bin/Debug/Il2CppZenject-usage.dll
bin/Debug/Il2CppVampireSurvivors.Runtime.dll
bin/Debug/Il2CppUnsafeAccess.dll
bin/Debug/Il2CppUniTask.dll
bin/Debug/Il2CppSystem.Xml.Linq.dll
bin/Debug/Il2CppSystem.Xml.dll
bin/Debug/Il2CppSystem.Runtime.Serialization.dll
bin/Debug/Il2CppSystem.Numerics.dll
bin/Debug/Il2CppSystem.dll
bin/Debug/Il2CppSystem.Data.dll
bin/Debug/Il2CppSystem.Core.dll
bin/Debug/Il2CppSystem.Configuration.dll
bin/Debug/Il2CppSuperTiled2Unity.dll
bin/Debug/Il2CppSirenix.Utilities.dll
bin/Debug/Il2CppSirenix.Serialization.dll
bin/Debug/Il2CppSirenix.Serialization.Config.dll
bin/Debug/Il2CppRewired_CSharp.dll
bin/Debug/Il2CppRewired_Core.dll
bin/Debug/Il2CppQFSW.MOP2.dll
bin/Debug/Il2CppPurchasing.Common.dll
bin/Debug/Il2CppProCamera2D.dll
bin/Debug/Il2CppPhaserPort.dll
bin/Debug/Il2CppPauseSystem.dll
bin/Debug/Il2CppNewtonsoft.Json.dll
bin/Debug/Il2Cppmscorlib.dll
bin/Debug/Il2CppMono.Security.dll
bin/Debug/Il2CppMAScripts.dll
bin/Debug/Il2Cppl2localization.dll
bin/Debug/Il2CppInterop.Runtime.dll
bin/Debug/Il2CppInterop.Common.dll
bin/Debug/Il2CppDreamteck.Utilities.dll
bin/Debug/Il2CppDreamteck.Splines.dll
bin/Debug/Il2CppDOTween.dll
bin/Debug/Il2CppDoozy.dll
bin/Debug/Il2CppCyanilux.BlitRenderFeature.dll
bin/Debug/Il2Cppcom.rlabrecque.steamworks.net.dll
bin/Debug/bHapticsLib.dll
bin/Debug/AssetsTools.NET.dll
bin/Debug/AssetRipper.VersionUtilities.dll
bin/Debug/AsmResolver.PE.File.dll
bin/Debug/AsmResolver.PE.dll
bin/Debug/AsmResolver.DotNet.dll
bin/Debug/AsmResolver.dll
bin/Debug/0Harmony.dll
*.dll
bin/Debug/VampireModMenu.dll
bin/Debug/VampireModMenu.pdb
obj/Debug/VampireModMenu.csproj.AssemblyReference.cache
obj/Debug/VampireModMenu.dll
obj/Debug/VampireModMenu.pdb
*.dll
*.pdb
*.cache
*.dll
